@charset "UTF-8";
.container-doc {
	width: 1300px;
	margin: auto;
}
.inner_container {
	width: 1100px;
	margin: auto;
	float: left;
/* 	text-align: center; */
}
.cont_img {
	width: 300px;
	float: left;
	margin: 30px;
}
.details-area {
	width: 50%;
	float: left;
}
.details-thumbnail {
	max-width: 100%;
	width: 40%;
	float: left;
}
.details-table th {
	height: 30px;
}
.details-totalPrice {
	margin: 50px 0 30px;
}
.details-buyWrap {
	width: 100%;
}