<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.goodsMapper">
	<select id="goodsList" resultType="com.project.domain.GoodsDTO">
		select * from goods
		<if test="G_code!=null">
			where G_code=#{G_code}
		</if>
	</select>

	<select id="goodsDetail" resultType="com.project.domain.GoodsDTO">
		select * from goods
		where G_code=#{G_code}
	</select>

	<select id="basketList" resultType="com.project.domain.BasketDTO">
		select b.G_code, G_imgS, G_product, G_price, B_count, G_stop from goods g join basket b on g.G_code=b.G_code
		where U_id=#{id}
		order by B_date
	</select>

	<select id="basketCkList" resultType="com.project.domain.BasketDTO">
		select b.G_code, G_imgS, G_product, G_price, B_count, G_stop from goods g join basket b on g.G_code=b.G_code
		where U_id=#{id}
		and b.G_code in
		<foreach collection="ck" item="ck" open="(" close=")" separator=",">
			#{ck}
		</foreach>
		order by B_date
	</select>

	<insert id="basketAdd">
		insert into basket
		values(#{B_num}, #{U_id}, #{G_code}, #{B_count}, #{B_date})
	</insert>
	
	<update id="basketUpdate">
		update basket set B_count=#{B_count} where U_id=#{U_id} and G_code=#{G_code}
	</update>
	
	<delete id="basketDel">
		delete from basket
		where U_id=#{U_id} and G_code=#{G_code};
	</delete>
	
	<delete id="basketAllDel">
		delete from basket
		where U_id=#{U_id};
	</delete>
	
	<select id="basketAllPrice" resultType="java.lang.Integer">
		select sum(G_price*B_count) from basket b join Goods g on b.G_code=g.G_code where U_id=#{id}
	</select>
	
	<select id="basketAllCount" resultType="java.lang.Integer">
		select sum(B_count) from basket where U_id=#{id}
	</select>
	
	<select id="likeList" resultType="com.project.domain.LikeDTO">
		select L_num, U_id, G_code
		from likes
		where U_id=#{id}
	</select>
	
	<insert id="likeAdd">
		insert into likes
		values(#{L_num}, #{U_id}, #{G_code}, #{L_date})
	</insert>
	
	<insert id="ordersAdd">
		insert into orders
		values (#{O_code}, #{U_id}, #{O_name}, #{O_phone}, #{O_delivery}, #{O_price}, #{O_count}, #{O_date}) 
	</insert>
	
	<insert id="ordersDAdd">
		insert into ordersD
		values (#{OD_num}, #{O_code}, #{G_code}, #{OD_price}, #{OD_count}) 
	</insert>

	<insert id="deliveryAdd">
		insert into delivery
		values (#{D_num}, #{O_code}, #{D_name}, #{D_address}, #{D_addressD}, #{D_zipcode}, #{D_phone}, #{D_desc}) 
	</insert>

	<insert id="goodsWrite">
		insert into goods(G_code, G_stop, G_product, G_price, G_desc, G_imgS, G_img)
		values(#{G_code}, #{G_stop}, #{G_product}, #{G_price}, #{G_desc}, #{G_imgS}, #{G_img})
	</insert>
	
	<select id="maxB_num" resultType="java.lang.Integer">
		select max(B_num) from basket
	</select>
	
	<select id="maxB_count" resultType="java.lang.Integer">
		select max(B_count) from basket where U_id=#{U_id} and G_code=#{G_code}
	</select>
	
	<select id="getG_code" resultType="java.lang.String">
		select G_code from basket
		where U_id=#{U_id} and G_code=#{G_code}
	</select>

	<select id="maxOD_num" resultType="java.lang.Integer">
		select max(OD_num) from ordersD
	</select>

	<select id="maxD_num" resultType="java.lang.Integer">
		select max(D_num) from delivery
	</select>
	
	<select id="getO_code" resultType="java.lang.String">
		select max(O_code) from orders
		where U_id=#{U_id}
	</select>
	
	<select id="maxO_code" resultType="java.lang.Integer">
		select max(cast(substring(O_code,9,3) as unsigned)) from orders
		where date(O_date)=date(#{O_date})
	</select>
	
	<select id="maxL_num" resultType="java.lang.Integer">
		select max(L_num) from likes
	</select>
</mapper>