<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.goodsMapper">
	<select id="goodsList" resultType="com.project.domain.GoodsDTO">
		select * from goods
		<if test="G_code!=null">
			where G_code=#{G_code}
		</if>
	</select>

	<select id="cartList" resultType="com.project.domain.BagDTO">
		select b.G_code, G_imgS, G_product, G_price, B_count from goods g join bag b on g.G_code=b.G_code
		where U_id=#{U_id}
		order by B_date
	</select>

	<insert id="cartAdd">
		insert bag(B_num, U_id, G_code, B_count)
		values(#{B_num}, #{U_id}, #{G_code}, #{B_count})
	</insert>
	
	<update id="cartUpdate">
		update bag set B_count=#{B_count} where U_id=#{U_id} and G_code=#{G_code}
	</update>

	<insert id="goodsWrite">
		insert into goods(G_code, G_stop, G_product, G_price, G_desc, G_imgS, G_img)
		values(#{G_code}, #{G_stop}, #{G_product}, #{G_price}, #{G_desc}, #{G_imgS}, #{G_img})
	</insert>
	
	<select id="maxB_num" resultType="java.lang.Integer">
		select max(B_num) from bag
	</select>
	
	<select id="maxB_count" resultType="java.lang.Integer">
		select max(B_count) from bag where U_id=#{U_id} and G_code=#{G_code}
	</select>
	
	<select id="getG_code" resultType="java.lang.String">
		select G_code from bag
		where U_id=#{U_id} and G_code=#{G_code}
	</select>
</mapper>