<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mappers.userMapper">
	<select id="userCheck" resultType="com.project.domain.UserDTO">
		select *
		from user
		where U_id=#{U_id} and U_pw=#{U_pw}
	</select>
	
	<insert id="insertUser">
		insert into user(U_id, U_pw, U_name, U_nick, U_birth, U_phone, U_email, U_emailD, U_address, U_addressD)
		values(#{U_id}, #{U_pw}, #{U_name}, #{U_nick}, #{U_birth}, #{U_phone}, #{U_email}, #{U_emailD}, #{U_address}, #{U_addressD} )
	</insert>
</mapper>